img {
  vertical-align: bottom;
}

html {
  min-width: 900px;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 8px 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

.High-Rise-1-hex {
  color: #B0CDD9;
  color: #457F8C;
  color: #659AA6;
  color: #8C7C79;
  color: #F2F2F2;
}

.w-50 {
  float: left;
  width: 50%;
}

.head {
  background-color: #B0CDD9;
  text-align: center;
  padding: 24px 0 60px 0;
}

.head img {
  border-width: 4px 4px 0;
  border-style: solid;
  border-color: #8C7C79;
}

.head .fio {
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  border-color: #8C7C79;
  position: relative;
  padding: 6px;
  background-color: #B0CDD9;
  font-size: 2em;
}

.head .fio:before {
  content: '';
  border-top: 4px solid;
  border-color: inherit;
  position: absolute;
  left: -50px;
  top: 50%;
  width: 50px;
}

.head .fio:after {
  content: '';
  border-top: 4px solid;
  border-color: inherit;
  position: absolute;
  right: -50px;
  top: 50%;
  width: 50px;
}

.personal-wrapper {
  background-color: #457F8C;
  color: #0D0D0D;
  padding: 8px 16px;
}

.personal {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

.personal a {
  color: #F2F2F2;
}

.personal a:active {
  color: #F5F5F5;
}

td {
  padding-bottom: 8px;
}

main {
  background-color: #fff;
  color: #0D0D0D;
  padding: 8px;
}

main > section {
  padding: 8px;
  box-sizing: border-box;
}

main > section > div {
  display: inline-block;
}

main > section .title {
  padding-bottom: 8px;
  border-bottom: 1px solid #0D0D0D;
}

ul {
  list-style-type: none;
  padding: 0;
}

.content {
  margin: 0 16px;
}

.experience {
  margin: 16px 0;
}

footer {
  background-color: #B0CDD9;
  padding: 16px 0;
  text-align: center;
}
